@font-face {
    font-family: Jost;
    src: url("../fonts/Jost-VariableFont_wght.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: Jost, sans-serif;
    font-weight: 400;
}


header {
    display: flex;
    background-color: rgba(217, 217, 217, 0.1);
    height: 20vh;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 3.6vh;
    color: #7A7070;
    margin: 0 3vw;
}

a:hover {
    color: #3D6FB4;
}

/*----------------------------- main --------------------------*/
main {
    display: flex;
    height: 80vh;
    margin-top: 3.32vh;
    justify-content: space-around;
}

.mainText {
    margin-left: 9.13vw;
    display: flex;
    flex-direction: column;
}

.mainText p {
    width: 40.20vw;
    font-size: 3.6vh;
    font-weight: 400;
}

.mainText h1 {
    font-weight: 400;
    font-size: 7vh;
    width: 25.66vw;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 38px;

}

button {
    background: #ECBCBC;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 9.92vw;
    height: 5.6vh;
    margin-right: 2.38vw;
}

button:hover {
    background-color: white;
}

